 h1{
 	color: #1F618D;
 	font-family:  'Dancing+Script', cursive;
 	text-align: center;
 }

 #Quienes-somos{
 	text-align: center;
 	background-color: #ABD7F4;
 }

#cuadro1{
	background-color: #78C2F3;
}

  #productos
 {
 	text-align: center;
 	background-color: #73C6B6 ;
 }
  #contactanos
 {
 	background-color: #82E0AA;
 }
