 h1{
 	color: #21618C;
 	font-family:  'Dancing+Script', cursive;
 	text-align: center;
 }

  #productos
 {
 	text-align: center;
 	background-color: #73C6B6 ;
 }
  #contactanos
 {
 	background-color: #82E0AA;
 }
